@import "bootstrap/dist/css/bootstrap.min.css";
@import "font-awesome/css/font-awesome.min.css";
.container1 {
  padding-left: 10px;
  padding-right: 10px;
  width: 100vw;
}
.responsive-table li {
  border-radius: 3px;
  padding: 15px 20px;
  display: flex;
  text-align: center;
  margin-bottom: 25px;
  align-items: center;
  font-size: 16px;
}
li > div,
.table-header > div {
  flex: 1;
}
li > div:nth-child(4),
.table-header > div:nth-child(4) {
  flex: 3;
}
li > div:last-child,
.table-header > div:last-child {
  flex: 0.5;
}
li > div:nth-child(3),
.table-header > div:nth-child(3) {
  flex: 1.5;
}
li > div:nth-child(3),
.table-header > div:nth-child(3) {
  flex: 0.5;
}
li > div:nth-child(6),
.table-header > div:nth-child(6) {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

li > div:nth-child(1),
.table-header > div:nth-child(1) {
  flex: 0.2;
}
.table-header {
  background-color: #95a5a6;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: bold;
}
.table-row {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
img {
  width: 100px;
}
svg {
  width: 15px;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icons > * {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 30px;
}
.icons > *:hover {
  background-color: #95a5a6;
}
.crop {
  overflow: hidden;
}
.stars {
  width: 76px;
  color: #ffd700;
}
